@use "../abstracts" as *;
@use "../base" as *;

.accordion-block {
    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
        @include default-component-spacing;
        @media (width > $screen-sm-min) {
            gap: 2rem;
        }

        @media (width <= $screen-sm-min) {
            gap: 0.75rem; //Same as margin top for items
        }
    }
    &__column {
        max-width: 47rem;

        &-item {
            &:not(:first-child) {
                margin-top: 0.75rem;
            }
        }

        &-title,
        &-content {
            border-radius: $radius-m;
            width: 100%;
        }

        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $secondary-color;
            padding: 1.5rem;
        }
        &-content {
            background: $medium-primary-color;
            margin-top: 0.25rem;
            &-inner {
                padding: 1.5rem;
            }
        }
    }

    &__additional-text {
        text-align: center;
        * {
            @extend h4;
        }
        a {
            text-decoration: underline;
            text-wrap: nowrap;
            font-weight: 500;
            text-underline-offset: 15%;
        }
        @media (width > $screen-sm-min) {
            margin-top: 6rem;
        }

        @media (width <= $screen-sm-min) {
            margin-top: 1.5rem;
        }
    }
}
