@use "../abstracts" as *;
@use "../base" as *;

.contact-info-block {
    @include default-component-spacing;

    &__title {
        font-weight: 600;
        @extend h3;
    }
    &__text {
        @media (width > $screen-sm-min) {
            margin-top: 0.625rem;
        }
        a {
            color: $primary-color;
            text-decoration: underline;
            text-underline-offset: 10%;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (width > $screen-sm-min) {
            margin-top: 1.5rem;
            gap: 1.5rem;
        }
        @media (width <= $screen-sm-min) {
            flex-direction: column;
            gap: 2.25rem;
            margin-top: 2.25rem;
        }
    }

    &__card {
        @media (width > $screen-sm-min) {
            flex: 1 1 calc(33.33% - 1.5rem);
            max-width: calc(33.33% - 1.5rem);
        }
        @media (width <= $screen-sm-min) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2.75rem;
            background-color: $secondary-color;
            width: 2.75rem;
            height: 2.75rem;
            img,
            svg {
                width: 1.5rem;
                height: 1.5rem;
                min-width: 1.5rem;
                min-height: 1.5rem;
            }
            svg {
                * {
                    fill: $primary-color;
                }
            }
        }
        &-title {
            margin-top: 0.5rem;
            font-weight: 500;
            @extend h4;
        }

        &-contact {
            margin-top: 0.5rem;
            &-link {
                color: $primary-color;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__personnel {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
        @media (width > $screen-sm-min) {
            margin-top: 3.75rem;
        }
        @media (width <= $screen-sm-min) {
            margin-top: 4.5rem;
        }
    }

    &__person {
        display: grid;
        grid-template-columns: 6rem 1fr;
        gap: 1.5rem;
        @media (width > $screen-sm-min) {
            flex: 1 1 calc(33.33% - 1.5rem);
            max-width: calc(33.33% - 1.5rem);
        }
        &-image {
            width: 6rem;
            height: 6rem;
            border-radius: 100%;
            aspect-ratio: 1/1;
        }
        &-content {
            &-name {
                font-weight: 600;
            }
            &-position {
                margin-top: 0.25rem;
                line-height: 1.25rem;
            }
            &-location {
                font-size: 0.875rem;
                color: $light-gray;
                line-height: 1.25rem;
            }
            &-email {
                color: $primary-color;
                margin-top: 0.25rem;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
