@use "../abstracts" as *;
@use "../base" as *;

.feedback-block {
    @include default-component-spacing;

    @media (width > $screen-sm-min) {
        overflow: hidden;
    }

    .content-controls {
        margin-bottom: 0.75rem;
    }

    &__title {
        font-weight: 500;
        @media (width > $screen-sm-min) {
            text-align: center;
            margin-bottom: 3rem;
        }
    }
    &__feedback {
        @include mobile-swiper-wrapper;

        &-feedback {
            border-radius: $radius-l;
            background: $soft-gray;
            padding: 3rem;
            @include mobile-swiper-slide($enable-width: false);

            &-content {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .feedback-top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .feedback-rating {
                    display: flex;

                    svg {
                        width: 1.25rem;
                        height: auto;
                    }
                }
                .feedback-date {
                    color: $light-gray;
                    font-size: 0.75rem;
                }
                .feedback-name {
                    font-weight: 500;
                    line-height: 0.6rem;
                }
                .feedback-company {
                    font-size: 0.75rem;
                    color: $light-gray;
                    line-height: 1.5;
                }
                .feedback-author {
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;
                }
            }
        }
    }
}
