@use "../abstracts" as *;
@use "../base" as *;

.promo-block {
    display: grid;
    gap: 2rem;
    @media (width > $screen-sm-min) {
        grid-template-columns: minmax(auto, 62.5rem) minmax(26.5rem, 1fr);

        &:has(#{"&__image.left"}) {
            @media (width > $screen-sm-min) {
                grid-template-columns: minmax(26.5rem, 1fr) minmax(auto, 62.5rem);
            }
        }
    }
    @include default-component-spacing;
    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .text{
            @include text-formatting;
        }
        &-title {
            @include default-gradient-mark;
            font-weight: 500;
            @media (width > $screen-sm-min) {
                font-size: calc(2rem + ((1vw - 0.48rem) * 0.1));
                line-height: 2.625rem;
            }
            @media (width <= $screen-sm-min) {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
        &-button {
            @media (width <= $screen-sm-min) {
                align-self: flex-end;
            }
        }
    }

    &__image {
        img {
            border-radius: $radius-l;
            width: 100%;
            height: auto;
        }
        @media (width > $screen-sm-min) {
            &.left {
                order: 1;
            }
        }
        @media (width <= $screen-sm-min) {
            order: 1;
        }
    }
}
