@use "../abstracts" as *;
@use "../base" as *;

.regular-image-block {
    @include default-component-spacing;
    @media (width <= $screen-sm-min) {
        @include full-viewport-width;
    }
    img {
        width: 100%;
        height: auto;
        @media (width > $screen-sm-min) {
            border-radius: $radius-l;
        }
    }
}
