@use "../abstracts" as *;
@use "../base" as *;

.selected-jobs-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin: 6rem auto 0;
    @media (max-width: $screen-sm-min) {
        grid-template-columns: 1fr;
    }
    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        article {
            &:hover {
                img {
                    transform: scale(0.95);
                }
            }
            a {
                color: $text;
                text-align: center;
            }
            p {
                @extend h4;
            }
            .technical-info {
                color: $light-gray;
                @extend p;
            }
            img {
                @include smooth-transition;
                width: 100%;
                height: auto;
                border-radius: $radius-m;
                box-shadow: $box-shadow;
                aspect-ratio: 16 / 9;
                object-fit: cover;
                margin-bottom: 1rem;
            }
        }
    }
}
