@use "../abstracts" as *;
@use "../base" as *;

.small-banner-block {
    position: relative;
    display: grid;
    justify-items: center;
    width: 100%;
    overflow: hidden;
    padding: 1.5rem 1.125rem;
    @media (width > $screen-sm-min) {
        border-radius: $radius-l;
    }

    @media (width <= $screen-sm-min) {
        @include full-viewport-width;
    }
    @include default-component-spacing;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 51, 102, 0.49), rgba(0, 51, 102, 0.49));
        pointer-events: none;
        z-index: 1;
    }
    &-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__content {
        z-index: 1;
        width: 100%;
        display: grid;
        gap: 1.5rem;
        align-content: center;
        justify-items: center;
        text-align: center;
        gap: 1.5rem;
        min-height: 25.125rem;
        .title,
        .text * {
            color: $white;
        }
        .title {
            @extend h2;
            font-weight: 500;
        }
        .text {
            max-width: 26.25rem;
            > p {
                font-size: 1.25rem;
                line-height: 1.75rem;
            }
        }
    }
}
