@use "variables" as *;
@use "breakpoints" as *;

html {
  background: $background;
  scroll-behavior: smooth;
}

html body {
  font-family: $main-font;
  color: $text;
}

body {
  @media (width > $screen-sm-min) {
    padding: 1.25rem 1.75rem;
  }
  @media (width <= $screen-sm-min) {
    padding: 1.25rem;
  }
}

#wpadminbar {
  display: none;
}

.grecaptcha-badge {
  visibility: hidden;
}

input,
textarea,
select {
  background-color: $white;
  color: $text;
}
