@use "variables" as *;
@use "breakpoints" as *;

html {
  background: $background;
  scroll-behavior: smooth;
}

html body {
  font-family: $main-font;
  color: $text;
}

#wpadminbar {
  display: none;
}

.grecaptcha-badge {
  visibility: hidden;
}

input,
textarea,
select {
  background-color: $white;
  color: $text;
}
