.layout-sm {
    max-width: 47.5rem;
    margin-left: auto;
    margin-right: auto;
}

.layout-md {
    max-width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
}

.layout-lg {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.layout-xl {
    max-width: 96rem;
    margin-left: auto;
    margin-right: auto;
}

.layout-xxl {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}
