@use "breakpoints" as *;

$enable-dark-mode: true;
$enable-auto-dark-mode: false;

:root {
    /* Light Mode Variables */
    --blue: #003366;
    --white: #ffffff;
    --background: #ffffff;
    --background-secondary: #ffffff;
    --light-gray: #595959;
    --light-gray-hover: #565656;
    --lighter-gray: #f9f9f9;
    --soft-gray: #f4f4f4;
    --gray: #231f20;
    --success-green: #43b984;
    --medium-primary: #deeefe;
    --medium-primary-darker: rgba(2, 118, 253, 0.4);
    --backshadow: rgba(17, 17, 17, 0.6); /* 70% opacity */
    --error-red: #810000;
    --primary: #003366;
    --primary-hover: #0276fd;
    --secondary: #f1f8ff;
    --text: #111111;
    --dark: #111111;

    /*Gradients*/

    --default-gradient: linear-gradient(90.34deg, #0076b8 0.05%, #babe0d 99.95%);
    --secondary-gradient: linear-gradient(91.37deg, #0076b8 0.2%, #babe0d 5.04%);

    /* Dark Mode Variables */
    --dark-background-secondary: #1b1b1b;
    --dark-background: #090909;
    --dark-primary: rgba(2, 118, 253, 0.8); /* 80% opacity */
    --dark-white: #e4e5eb;
    --dark-light-gray: #cbcbcc;
    --dark-light-gray-hover: #b3b3b3;
    --dark-secondary-blue: rgba(2, 118, 253, 0.2); /* 20% opacity */
    --dark-secondary-blue-darker: rgba(2, 118, 253, 0.2); /* 20% opacity */
    --dark-success-green: rgba(67, 185, 132, 0.9);
    --dark-error-red: rgba(235, 35, 35, 0.9);
    --dark-blue: rgba(2, 118, 253, 0.9);

    //Breakpoints
    --screen-sm-min: #{$screen-sm-min};
     --screen-md-min: #{$screen-md-min};
}

@mixin dark-theme {
    --white: var(--dark-white);
    --text: var(--dark-white);
    --background: var(--dark-background);
    --background-secondary: var(--dark-background-secondary);
    --primary: var(--dark-primary);
    --secondary: var(--dark-secondary-blue);
    --light-gray: var(--dark-light-gray);
    --light-gray-hover: var(--dark-light-gray-hover);
    --medium-primary: var(--medium-primary-darker);
    --success-green: var(--dark-success-green);
    --blue: var(--dark-blue);
    --error-red: var(--dark-error-red);
    /* Override other current variables as needed */
}

@if $enable-dark-mode {
    @if $enable-auto-dark-mode {
        @media (prefers-color-scheme: dark) {
            html:not([data-theme]) {
                /* Apply dark theme directly to html if no data-theme */
                @include dark-theme;
                /* Hide elements meant for light theme */
                [data-element="light"] {
                    display: none;
                }
            }
        }
    }
}

@media (prefers-color-scheme: light) {
    html:not([data-theme]) {
        [data-element="dark"] {
            display: none;
        }
    }
}

@if $enable-dark-mode {
    [data-theme="dark"] {
        @include dark-theme;
    }
}
@if $enable-auto-dark-mode {
    [data-theme="light"] {
        color-scheme: light;
    }

    [data-theme="dark"] {
        color-scheme: dark;
    }
}
//Hide light elements on dark mode and vice verca
//if dark mode is disabled always hide data-elements for dark mode

@if $enable-dark-mode {
    [data-theme]:not([data-theme="dark"]) [data-element="dark"],
    [data-theme="dark"] [data-element="light"] {
        display: none;
    }
} @else {
    [data-element="dark"] {
        display: none;
    }
}

$white: var(--white);
$dark: var(--dark);
$blue: var(--blue);
$light-gray: var(--light-gray);
$light-gray-hover: var(--light-gray-hover);
$lighter-gray: var(--lighter-gray);
$soft-gray: var(--soft-gray);
$background: var(--background);
$background-secondary: var(--background-secondary);
$text: var(--text);
$primary-color: var(--primary);
$primary-color-hover: var(--primary-hover);
$medium-primary-color: var(--medium-primary);
$secondary-color: var(--secondary);
$success-green: var(--success-green);
$error-red: var(--error-red);

$backshadow: var(--backshadow);

$default-gradient: var(--default-gradient);
$secondary-gradient: var(--secondary-gradient);

$main-font: "Poppins", Arial, sans-serif;

//Colors

$box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.08);

$radius-l: 0.75rem;
$radius-m: 0.5rem;
$radius-s: 0.375rem;

//transition

@mixin smooth-transition($time: 0.2s) {
    transition: all $time ease-in-out;
}

@mixin cubic-transition($time: 0.2) {
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.343, 2.461);
}
