@use "../abstracts" as *;

.archive-header {
    @media (width > $screen-sm-min) {
        margin-top: 3rem;
    }

    @media (width <= $screen-sm-min) {
        margin-top: 1.5rem;
    }

    &__title {
        @extend h2;
    }
    &__text {
        max-width: 37.5rem;
        width: 100%;
        @media (width > $screen-sm-min) {
            margin-top: 1.5rem;
        }
        @media (width <= $screen-sm-min) {
            margin-top: 0.75rem;
        }
    }
}
