@use "../abstracts" as *;
.category-tag {
    display: inline-flex;
    border-radius: $radius-s;
    background: $secondary-color;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: $primary-color;
}
