@use "../abstracts" as *;
@use "../base" as *;

.content-controls {
    display: flex;
    justify-content: flex-end;
    @include hide-on-desktop;
    &__wrapper {
        display: flex;
        gap: 0.25rem;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
        &:disabled {
            cursor: not-allowed;
            svg {
                * {
                    stroke: $lighter-gray;
                }
            }
        }
        svg {
            * {
                stroke: $light-gray;
            }
        }
    }
    &__pagination {
        position: relative;
        color: $light-gray;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.5rem;
        &.content-controls-pagination {
            bottom: unset;
            top: unset;
            left: unset;
            width: unset;
        }
    }
}
