@use "../abstracts" as *;
@use "../base" as *;
@use "./theme-buttons";

.kwcf-form {
    input,
    textarea {
        background: $input-background-color;

        &:not(.kwcf-field-error) {
            border-color: $input-color;
        }
    }

    .kwcf-field {
        &__label {
            color: $text;
        }
    }

    .kwcf-button {
        @extend .button--default !optional;
    }

    .kwcf-error-message {
        color: $error-red;
    }

    .kwcf-field-error {
        border-color: $error-red;
    }
}
