@use "../abstracts" as *;

.kwcf-notification {
    background: $background-secondary;

    &-success {
        &::before {
            background: $success-green;
        }
        svg {
            fill: $success-green;
        }
    }

    &-info {
        &::before {
            background: $blue;
        }
        svg {
            * {
                fill: $blue;
            }
        }
    }

    &-error {
        &::before {
            background: $error-red;
        }
        svg {
            * {
                fill: $error-red;
            }
        }
    }
}
