@use "../abstracts" as *;

.settings-menu {
    .settings {
        &__toggle {
            svg {
                * {
                    fill: $text;
                }
            }
            &:hover {
                svg {
                    * {
                        fill: $primary-color;
                    }
                }
            }
        }

        &__menu {
            > li {
                @media (width > $screen-sm-min) {
                    white-space: nowrap;
                }
                > button:not(.back-button) {
                    svg {
                        min-width: 1.25rem;
                        width: 1.25rem;
                        height: auto;
                        * {
                            fill: $text;
                        }
                    }
                }
            }
        }
    }
}
