@use "../abstracts" as *;

.footer-branding {
    max-width: 16rem;

    &__logo {
        width: 5.5rem;
        height: auto;
    }

    &__tagline {
        margin-top: 1rem;
        color: $light-gray;

        p {
            margin: 0;
            font-size: 0.75rem;
            line-height: 1.5;
        }
    }
}
